<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="2Captcha" version="2.2.0" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.2" targetFramework="net48" />
  <package id="EAGetMail" version="5.2.5.8" targetFramework="net48" />
  <package id="Flurl" version="2.8.2" targetFramework="net48" />
  <package id="Flurl.Http" version="2.4.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="Nethereum.ABI" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.Accounts" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.BlockchainProcessing" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.Contracts" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.Hex" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.JsonRpc.Client" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.JsonRpc.RpcClient" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.KeyStore" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.Model" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.RLP" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.RPC" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.Signer" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.Signer.EIP712" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.Util" version="4.9.0" targetFramework="net48" />
  <package id="Nethereum.Web3" version="4.9.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Selenium.UndetectedChromeDriver" version="1.0.6" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.6.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="107.0.5304.6200" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.1" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>